page-login {

    
.bg{
    background-image: url('../../assets/img/event/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
  
  }

  #jj img{
    height: 80px;
  } 

  #jj {
    margin-top:30%;
    margin-left:30%;
  } 
}
