page-profile {
    ion-title{
        margin-right: 20%;
    }


    #jj img{
        height: 100px;
        width: 100px;
      } 

      #jj {
        width: 40%;
        margin-left:35%;
        // height: 100px;
      } 


}
