page-signup {
    .logo img{
        height: 150%;
        // width: 
      }

      #jj img{
        height: 100px;
        width: 100px;
      } 

      #jj {
        width: 40%;
        margin-left:35%;
        // height: 100px;
      } 

      ion-title{
        margin-right: 5%;
    }
      ion-input::placeholder {color:#ffffff;}

}
